/***********************************************
/* START HEADER
***********************************************/
@media(max-width: 800px) {
	.header {
		opacity: 0;
		visibility: hidden;
		height: 100%;
		width: 100%;
		@include transition();

		.col-sm-12 {
			position: absolute;
			top: 50%;
			left: 50%;
			@include translate(-50%, -50%);
		}

		&.active {
			opacity: 1;
			visibility: visible;
			background: $header;
		}
	}

	.username {
		display: none;
	}

	.update-icon {
		margin-right: 10px;
   		margin-bottom: 20px;
	}

	.logo {
		
	}

	.full-menu {
		margin-bottom: 25px;
	}

	.full-menu, .info-area, .mobile-info {
		text-align: center;
		display: block;
		float: none;
		position: initial;
		transform: initial;
	}

	.srf-full-menu {
		li {
			display: block;
			margin: 0 0 15px 0;

			// &:last-child {
			// 	margin-bottom: 0;
			// }
			a {
				font-size: 1.8rem;

				&:after {
					content: none;
				}
				i {
					font-size: 1.6rem;
				}
			}
		}

		&.social {
			li {
				display: inline-block;
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}	

	.mobile-info {
		margin-top: 15px;
		display: block;
		p {
			font-size: 1.2rem;
		}
	}

	.menu-trigger {
		display: block;
	}

	.form-wrap-register {
	}
}

.header-fullscreen {
	padding: 15px;
}
/***********************************************
/* END HEADER
***********************************************/

/***********************************************
/* START  LANSCAPE
***********************************************/
@media(max-width: 1024px) 
and (orientation: landscape) {
	.header {
		opacity: 0;
		visibility: hidden;
		height: 100%;
		width: 100%;
		padding: 0;
		@include transition();

		.col-sm-12 {
			position: absolute;
			top: 50%;
			left: 50%;
			@include translate(-50%, -50%);
		}

		&.active {
			opacity: 1;
			visibility: visible;
			background: $header;
		}
	}

	.logo {
		display: none!important;
	}

	.full-menu {
		margin-bottom: 20px;
	}

	.full-menu, .info-area, .mobile-info {
		text-align: center;
		display: block;
		float: none;
		position: initial;
		transform: initial;
	}

	.srf-full-menu {
		li {
			display: block;
			margin: 0;

			// &:last-child {
			// 	margin-bottom: 0;
			// }
			a {
				font-size: 1.2rem;
				line-height: 26px;

				&:after {
					content: none;
				}
				i {
					font-size: 1rem;
				}
			}
		}

		&.social {
			li {
				display: inline-block;
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}	

	.mobile-info {
		display: block;
		margin-top: 0;
		p {
			font-size: 0.8rem;
			margin-bottom: 0;
		}
	}

	.menu-trigger {
		display: block;
	}

	.info-area {
		.social {
			li {
				margin-bottom: 0;
			}
		}
	}
}
/***********************************************
/* END LANSCAPE 
***********************************************/

/***********************************************
/* START CONTAR
***********************************************/
@media(max-width: 600px) {
	// .sub-menu {
	// 	background-color: rgba(255,255,255, 0.9);
	// 	li {
	// 		padding-bottom: 10px;
	// 		border-bottom: 0.8px solid #333;

	// 		&:before {
	// 			content: none;
	// 		}
	// 	}
	// }
}

@media(max-width: 800px) {
	.user-title {
		margin-top: 0;
		h1 {
			font-size: 30px;
		}
	}

	.copy-text {
		margin-bottom: 30px;
		border-left: 1px solid #000;
	}

	.login-failed {
		.user-title {
			padding: 0;
			
			.fullname {
				font-size: 30px;
			}
		}
	}

	.username {
		right: -7%;
	}

	.fullname {
		font-size: 30px;
	}

	.social-button {
		width: initial!important;
	}

	.contar-profile {
		height: initial;
	}

	.user {
		li {
			p {
				&:before {
					left: 30%;
				}
			}
		}
	}

	.fullname {
		margin-top: 100px;
	}


	.update {
		.form-wrap {
			margin-top: 50px;
		}
	}

	.form-wrap {
		.social-button {
			padding: initial!important;
			width: 100%!important;
		}
		padding: 0 20px;;
		h5 {
			font-size: 12px;
		}

		input {
			font-size: 16px;
		}
	}

	.form-wrap-register {
		padding: 0;
	}

	.sub-menu {
		li {
			line-height: 20px;
			a {
				font-size: 14px;
			}
		}
	}
}

/***********************************************
/* END CONTAR  
***********************************************/